.large-metro-pattern {
  background-image: 
    linear-gradient(45deg, transparent 46%, black 46%, black 54%, transparent 54%),
    linear-gradient(-45deg, transparent 46%, black 46%, black 54%, transparent 54%);
  background-size: 8px 8px;
}

.metro-pattern {
  background-image: 
    linear-gradient(45deg, transparent 46%, black 46%, black 54%, transparent 54%),
    linear-gradient(-45deg, transparent 46%, black 46%, black 54%, transparent 54%);
  background-size: 12px 12px;
}

.micro-pattern {
  background-image: linear-gradient(90deg, transparent 46%, black 46%, black 54%, transparent 54%);
  background-size: 8px 20px;
}

.rural-pattern {
  background-image: linear-gradient(0deg, transparent 46%, black 46%, black 54%, transparent 54%);
  background-size: 20px 8px;
}

.ceac-pattern {
  background-image: linear-gradient(45deg, transparent 46%, black 46%, black 54%, transparent 54%);
  background-size: 8px 8px;
}