.large-metro-pattern {
  background-image: radial-gradient(circle at center, black 1.5px, transparent 1.5px);
  background-size: 5px 5px;
}

.metro-pattern {
  background-image: radial-gradient(circle at center, black 1.5px, transparent 1.5px);
  background-size: 7px 7px;
}

.micro-pattern {
  background-image: radial-gradient(circle at center, black 1px, transparent 1px);
  background-size: 10px 10px;
}

.rural-pattern {
  background-image: radial-gradient(circle at center, black 1px, transparent 1px);
  background-size: 10px 20px;
}

.ceac-pattern {
  background-image: linear-gradient(45deg, transparent 47%, black 47%, black 53%, transparent 53%);
  background-size: 10px 10px;
}